@model TipoCuenta

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear tipo de Cuenta</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas
    Ejemplos: Préstamos, tarjetas de crédito
</h5>
